<section class="review">
    <div class="container">
        <div class="review__wrraper">

            <h2 class="review__title">What our Customers Say</h2>

            <p class="review__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <ul class="review__list">

                <li class="review__item">

                    <ul class="review__list-star">

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>
                    </ul>

                    <p class="review__item-desc">
                        “The Best app I have used to order food in a while, so many options
                        to choose from too, I would recommend to a freind, No questions asked”
                    </p>

                    <div class="review__info">

                        <picture>
                            <source srcset="/src/images/components/avatar1(1x)_48.png 1x, 
                                            /src/images/components/avatar1(2x)_96.png 2x, 
                                            /src/images/components/avatar1(3x)_144.png 3x">
                                <img class="review__img" src="/src/images/components/avatar1(1x)_48.png" alt="Comment 1" width="48">
                        </picture>

                        <div class="review__wrapper">
                            <h3 class="review__name">Sumith Shah</h3>
                            <p class="review__position">Some Dude</p>
                        </div>

                    </div>

                </li>

                <li class="review__item">

                    <ul class="review__list-star">

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                        <li class="review__item-star">
                            <svg class="review__stars-logo" width="17px" height="16px">
                                <use href="/src/images/icons.svg#star"></use>
                            </svg>
                        </li>

                    </ul>

                    <p class="review__item-desc">
                        “The ease with which I can just go in and order what i want was amazing, 
                        It has been a very pleasant experience ordering from this app”
                    </p>

                    <div class="review__info">
                        <picture>
                            <source srcset="/src/images/components/avatar2(1x)_48.png 1x, 
                                            /src/images/components/avatar2(2x)_96.png 2x,
                                            /src/images/components/avatar2(3x)_144.png 3x">
                                <img class="review__img" src="/src/images/components/avatar2(1x)_48.png" alt="Comment 2" width="48">
                        </picture>

                        <div class="review__wrapper">
                            <h3 class="review__name">Sumith Shah</h3>
                            <p class="review__position">Some Dude</p>
                        </div>

                    </div>

                </li>

            </ul>

        </div>
    </div>
</section>
