<section class="favorites">
    <div class="container">
        <div class="favorites__container">

            <h2 class="favorites__title" id="menu">Some of Our Favorites</h2>

            <p class="favorites__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

            <ul class="favorites__list">

                <li class="favorites__item">
                    <picture>
                        <source media="(min-width: 1280px)" 
                            srcset="./images/favorites/desktop/gamburgerdesktop(1x)_315.png 1x, 
                                    ./images/favorites/desktop/gamburgerdesktop(2x)_630.png 2x, 
                                    ./images/favorites/desktop/gamburgerdesktop(3x)_945.png 3x">
                        <source media="(min-width: 768px)" 
                            srcset="./images/favorites/tablet/gamburgertablet(1x)_268.png 1x, 
                                    ./images/favorites/tablet/gamburgertablet(2x)_536.png 2x, 
                                    ./images/favorites/tablet/gamburgertablet(3x)_804.png 3x">
                        <source media="(max-width: 767px)" 
                            srcset="./images/favorites/mobile/gamburgermobile(1x)_224.png 1x, 
                                    ./images/favorites/mobile/gamburgermobile(2x)_448.png 2x, 
                                    ./images/favorites/mobile/gamburgermobile(3x)_670.png 3x">
                        <img class="favorites__img" src="./images/favorites/desktop/gamburgerdesktop(1x)_315.png" 
                            width="315" alt="gamburger">
                    </picture>
                </li>

                <li class="favorites__item">
                    <picture>
                        <source media="(min-width: 1280px)" 
                            srcset="./images/favorites/desktop/pastadesktop(1x)_315.png 1x, 
                                    ./images/favorites/desktop/pastadesktop(2x)_630.png 2x, 
                                    ./images/favorites/desktop/pastadesktop(3x)_945.png 3x">
                        <source media="(min-width: 768px)" 
                            srcset="./images/favorites/tablet/pastatablet(1x)_269.png 1x, 
                                    ./images/favorites/tablet/pastatablet(2x)_538.png 2x, 
                                    ./images/favorites/tablet/pastatablet(3x)_807.png 3x">
                        <source media="(max-width: 767px)" 
                            srcset="./images/favorites/mobile/pastamobile(1x)_225.png 1x, 
                                    ./images/favorites/mobile/pastamobile(2x)_449.png 2x, 
                                    ./images/favorites/mobile/pastamobile(3x)_672.png 3x">
                        <img class="favorites__img" src="./images/favorites/desktop/pastadesktop(1x)_315.png" 
                            width="315" alt="pasta">
                    </picture>
                </li>

                <li class="favorites__item">
                    <picture>
                        <source media="(min-width: 1280px)" 
                            srcset="./images/favorites/desktop/pizzadesktop(1x)_315.png 1x, 
                                    ./images/favorites/desktop/pizzadesktop(2x)_630.png 2x, 
                                    ./images/favorites/desktop/pizzadesktop(3x)_945.png 3x">
                        <source media="(min-width: 768px)" 
                            srcset="./images/favorites/tablet/pizzatablet(1x)_268.png 1x, 
                                    ./images/favorites/tablet/pizzatablet(2x)_536.png 2x, 
                                    ./images/favorites/tablet/pizzatablet(3x)_804.png 3x">
                        <source media="(max-width: 767px)" 
                            srcset="./images/favorites/mobile/pizzamobile(1x)_224.png 1x, 
                                    ./images/favorites/mobile/pizzamobile(2x)_448.png 2x, 
                                    ./images/favorites/mobile/pizzamobile(3x)_670.png 3x">
                        <img class="favorites__img" src="./images/favorites/desktop/pizzadesktop(1x)_315.png" 
                            width="315" alt="pizza">
                    </picture>
                </li>

                <li class="favorites__item">
                    <picture>
                        <source media="(min-width: 1280px)" 
                            srcset="./images/favorites/desktop/chickendesktop(1x)_315.png 1x, 
                                    ./images/favorites/desktop/chickendesktop(2x)_630.png 2x, 
                                    ./images/favorites/desktop/chickendesktop(3x)_945.png 3x">
                        <source media="(min-width: 768px)" 
                            srcset="./images/favorites/tablet/chickentablet(1x)_268.png 1x, 
                                    ./images/favorites/tablet/chickentablet(2x)_536.png 2x, 
                                    ./images/favorites/tablet/chickentablet(3x)_804.png 3x">
                        <source media="(max-width: 767px)" srcset="#">
                        <img class="favorites__img" src="./images/favorites/desktop/chickendesktop(1x)_315.png" 
                            width="315" alt="chicken">
                    </picture>
                </li>

                <li class="favorites__item">
                    <picture>
                        <source media="(min-width: 1280px)" 
                            srcset="./images/favorites/desktop/salatdesktop(1x)_315.png 1x, 
                                    ./images/favorites/desktop/salatdesktop(2x)_630.png 2x, 
                                    ./images/favorites/desktop/salatdesktop(3x)_945.png 3x">
                        <source media="(min-width: 768px)" 
                            srcset="./images/favorites/tablet/salattablet(1x)_269.png 1x, 
                                    ./images/favorites/tablet/salattablet(2x)_538.png 2x, 
                                    ./images/favorites/tablet/salattablet(3x)_807.png 3x">
                        <source media="(max-width: 767px)" srcset="#">
                        <img class="favorites__img" src="./images/favorites/desktop/salatdesktop(1x)_315.png" 
                            width="315" alt="salat">
                    </picture>
                </li>

                <li class="favorites__item">
                    <picture>
                        <source media="(min-width: 1280px)" 
                            srcset="./images/favorites/desktop/borshchdesktop(1x)_315.png 1x, 
                                    ./images/favorites/desktop/borshchdesktop(2x)_630.png 2x, 
                                    ./images/favorites/desktop/borshchdesktop(3x)_945.png 3x">
                        <source media="(min-width: 768px)" 
                            srcset="./images/favorites/tablet/borshchtablet(1x)_268.png 1x, 
                                    ./images/favorites/tablet/borshchtablet(2x)_536.png 2x, 
                                    ./images/favorites/tablet/borshchtablet(3x)_804.png 3x">
                        <source media="(max-width: 767px)" srcset="#">
                        <img class="favorites__img" src="./images/favorites/desktop/borshchdesktop(1x)_315.png" 
                            width="315" alt="borshch">
                    </picture>
                </li>

            </ul>

        </div>
    </div>
</section>