<section class="section-hero">
    <div class="container">
        <div class="section-hero__wrraper">

            <!-- Заголовок секції -->
            <h1 class="section-hero__title" id="about">Enjoy Your Favorite Food From Anywhere</h1>

            <div class="section-hero__box">

                <p class="section-hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>

                <button class="button-modal" type="button" data-modal-open-hero>Order Now</button>

            </div>

            <!-- Слайдер -->
            <div class="section-hero__slider">

                <div class="swiper">
                    <!-- Слайди -->
                    <ul class="section-hero__list swiper-wrapper">

                        <li class="section-hero__item swiper-slide">
                            <picture>
                                <source media="(min-width: 1200px)" 
                                    srcset="/src/images/slider/desktop/fooddesktop1(1x)_528.png 1x, 
                                            /src/images/slider/desktop/fooddesktop1(2x)_1056.png 2x, 
                                            /src/images/slider/desktop/fooddesktop1(3x)_1584.png 3x">
                                <source media="(min-width: 768px)" 
                                    srcset="/src/images/slider/tablet/foodtablet1(1x)_292.png 1x, 
                                            /src/images/slider/tablet/foodtablet1(2x)_584.png 2x, 
                                            /src/images/slider/tablet/foodtablet1(3x)_876.png 3x">
                                <source media="(max-width: 767px)" srcset="#">
                                <img class="section-hero__image" 
                                    src="/src/images/slider/desktop/fooddesktop1(1x)_528.png" 
                                    width="528" alt="Photo food" title="Food">
                            </picture>
                        </li>
                        <li class="section-hero__item swiper-slide">
                            <picture>
                                <source media="(min-width: 1200px)" 
                                    srcset="/src/images/slider/desktop/fooddesktop2(1x)_528.png 1x, 
                                            /src/images/slider/desktop/fooddesktop2(2x)_1056.png 2x, 
                                            /src/images/slider/desktop/fooddesktop2(3x)_1584.png 3x">
                                <source media="(min-width: 768px)" 
                                    srcset="/src/images/slider/tablet/foodtablet2(1x)_292.png 1x, 
                                            /src/images/slider/tablet/foodtablet2(2x)_584.png 2x, 
                                            /src/images/slider/tablet/foodtablet2(3x)_876.png 3x">
                                <source media="(max-width: 767px)" srcset="#">
                                <img class="section-hero__image" 
                                    src="/src/images/slider/desktop/fooddesktop2(1x)_528.png" 
                                    width="528" alt="Photo food" title="Food">
                            </picture>
                        </li>
                        <li class="section-hero__item swiper-slide">
                            <picture>
                                <source media="(min-width: 1200px)" 
                                    srcset="/src/images/slider/desktop/fooddesktop3(1x)_528.png 1x, 
                                            /src/images/slider/desktop/fooddesktop3(2x)_1056.png 2x, 
                                            /src/images/slider/desktop/fooddesktop3(3x)_1584.png 3x">
                                <source media="(min-width: 768px)" 
                                    srcset="/src/images/slider/tablet/foodtablet3(1x)_292.png 1x, 
                                            /src/images/slider/tablet/foodtablet3(2x)_584.png 2x, 
                                            /src/images/slider/tablet/foodtablet3(3x)_876.png 3x">
                                <source media="(max-width: 767px)" srcset="#">
                                <img class="section-hero__image" 
                                    src="/src/images/slider/desktop/fooddesktop3(1x)_528.png" 
                                    width="528" alt="Photo food" title="Food">
                            </picture>
                        </li>

                    </ul>

                </div>

                <button class="section-hero__button-left" type="button">
                    <svg class="section-hero__button-icon" width="17px" height="30px">
                        <use href="/src/images/icons.svg#left"></use>
                    </svg>
                </button>
                <button class="section-hero__button-right" type="button">
                    <svg class="section-hero__button-icon" width="17px" height="30px">
                        <use href="/src/images/icons.svg#right"></use>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>