<section class="offerings">
    <div class="container">
        <div class="offerings__global">

            <div class="offerings__radialbox">

                <div class="offerings__radialbox-images">

                    <picture>
                        <source media="(min-width: 320px) and (max-width: 767px)" srcset="/src/images/components/mobile/applemobile(1x)_202.png 1x, 
                                    /src/images/components/mobile/applemobile(2x)_404.png 2x, 
                                    /src/images/components/mobile/applemobile(3x)_606.png 3x">
                        <source media="(min-width: 768px) and (max-width: 1279px)" srcset="/src/images/components/tablet/appletabletbig(1x)_258.png 1x, 
                                    /src/images/components/tablet/appletabletbig(2x)_515.png 2x, 
                                    /src/images/components/tablet/appletabletbig(3x)_772.png 3x">
                        <source media="(min-width: 1280px)" srcset="/src/images/components/desktop/appledesktop(1x)_396.png 1x, 
                                    /src/images/components/desktop/appledesktop(2x)_792.png 2x, 
                                    /src/images/components/desktop/appledesktop(3x)_1188.png 3x">
                        <img class="offerings__radialbox-big-image" width="396"
                            src="/src/images/components/desktop/appledesktop(1x)_396.png" alt="яблоко">
                    </picture>

                    <picture>
                        <source media="(min-width: 320px) and (max-width: 767px)" srcset="#">
                        <source media="(min-width: 768px) and (max-width: 1279px)" srcset="/src/images/components/tablet/appletabletmiddle(1x)_166.png 1x, 
                                    /src/images/components/tablet/appletabletmiddle(2x)_332.png 2x, 
                                    /src/images/components/tablet/appletabletmiddle(3x)_498.png 3x">
                        <source media="(min-width: 1280px)" srcset="#">
                        <img class="offerings__radialbox-middle-image" width="166"
                            src="/src/images/components/tablet/appletabletmiddle(1x)_166.png" alt="среднее яблоко">
                    </picture>

                    <picture>
                        <source media="(min-width: 320px) and (max-width: 767px)" srcset="#">
                        <source media="(min-width: 768px) and (max-width: 1279px)" srcset="/src/images/components/tablet/appletabletsmall(1x)_108.png 1x, 
                                    /src/images/components/tablet/appletabletsmall(2x)_216.png 2x, 
                                    /src/images/components/tablet/appletabletsmall(3x)_324.png 3x">
                        <source media="(min-width: 1280px)" srcset="#">
                        <img class="offerings__radialbox-small-image" width="108"
                            src="/src/images/components/tablet/appletabletsmall(1x)_108.png" alt="среднее яблоко">
                    </picture>

                </div>

            </div>

            <div class="offerings__text-wrraper">

                <div class="offerings__about">

                    <h2 class="offerings__title" id="service"> What’s Special About Our Offerings</h2>

                    <p class="offerings__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare,
                        eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>

                </div>

                <ul class="offerings__list">

                    <li class="offerings__item offerings__item--rocket">

                        <h3 class="offerings__item-title">Fasest Delivery</h3>

                        <p class="offerings__item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse varius enim in eros.
                        </p>

                    </li>

                    <li class="offerings__item offerings__item--touch">

                        <h3 class="offerings__item-title">Easy to order</h3>

                        <p class="offerings__item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse varius enim in eros.
                        </p>

                    </li>


                </ul>

                <div class="offerings__footer">

                    <button class="offerings__btn-modal" type="button" data-modal-open-offerings>Order Now</button>

                    <a class="offerings__link" href="#">Read More
                        <svg class="offerings__icon" width="13px">
                            <use href="./images/icons.svg#vector"></use>
                        </svg>
                    </a>

                </div>

            </div>

        </div>
    </div>
</section>