<section class="subscribe">
    <div class="container">
        <div class="subscribe__thumb">
            
            <!-- Зображення банану -->
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./images/components/desktop/banandesktop(1x)_546.png 1x, 
                            ./images/components/desktop/banandesktop(2x)_1092.png 2x, 
                            ./images/components/desktop/banandesktop(3x)_1638.png 3x">
                <source media="(min-width: 768px)" 
                    srcset="./images/components/tablet/banantablet(1x)_281.png 1x, 
                            ./images/components/tablet/banantablet(2x)_562.png 2x, 
                            ./images/components/tablet/banantablet(3x)_843.png 3x">
                <source media="(min-width: 320px)" 
                    srcset="./images/components/mobile/bananmobile(1x)_161.png 1x, 
                            ./images/components/mobile/bananmobile(2x)_322.png 2x, 
                            ./images/components/mobile/bananmobile(3x)_483.png 3x">
                <img class="subscribe__image" src="./images/components/mobile/bananmobile(1x)_161.png" alt="Banana">
            </picture>

            <div class="subscribe__content">

                <!-- Заголовок секції -->
                <h2 class="subscribe__title" id="contact">Subscribe To Get Special Offers</h2>
                
                <!-- Опис секції -->
                <p class="subscribe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                    eros elementum tristique.</p>

                <!-- Форма -->
                <form class="subscribe-form">

                    <label class="visually-hidden" for="email">Enter your e-mail</label>

                    <div class="subscribe-form__input-box">

                        <input class="subscribe-form__input" type="email" name="email" id="email" placeholder="Enter your email" required>
                       
                        <span class="subscribe-form__input-invalid">
                            <svg class="subscribe-form__input-icon" width="12px" height="12px">
                                <use href="/src/images/icons.svg#frame"></use>
                            </svg>
                            Not a valid email address (example@email.com)
                        </span>

                    </div>

                    <button class="subscribe-form__button" type="submit">Sign Up</button>
                    
                </form>

            </div>
            
        </div>       
    </div>  
</section>