.subscribe-form {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.subscribe-form__input-box {
    position: relative;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.subscribe-form__input {
    padding: 12px 11px;
    height: 42px;
    width: 100%;
    background-color: var(--content-color);
    font-size: var(--modal-label-fs);
    line-height: var(--main-lh);
    color: var(--text-color-secondary);
    border: 1px solid var(--input-color);
    border-radius: 30px;
    outline: transparent;
    @include transition-animation(border);

    &:not(:placeholder-shown):valid {
        border-color: var(--hover-color);
    }

    &:not(:placeholder-shown):invalid {
        border-color: var(--invalid-color);
    }

    &:not(:placeholder-shown):invalid + .subscribe-form__input-invalid{
        opacity: 1;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        width: 394px;
    }
}

.subscribe-form__input-invalid {
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 100%;
    width: 100%;
    height: 27;
    // border: 1px solid var(--invalid-color);
    border-radius: 30px;
    padding: 6px 0;
    background-color: var(--content-color);
    font-size: var(--information-fs);
    line-height: var(--main-lh);
    color: var(--invalid-color);
    @include transition-animation(opacity);
}

.subscribe-form__input-icon {
    display: inline-block;
    margin-right: 4px;
}

.subscribe-form__button {
    display: flex;
    margin-left: auto;
    height: 42px;
    padding: 10px 29px 11px;
    min-width: 106px;
    font-size: var(--general-fs);
    line-height: var(--main-lh);
    color: var(--text-color-primary);
    background-color: var(--general-color);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    @include transition-animation(background-color);

    &:hover,
    &:focus, 
    &:active {
        background-color: var(--focus-color);
    }

    @media screen and (min-width: 768px) {
        margin-left: 18px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 32px;
    }
}