.footer {
    padding-top: 64px;
    padding-bottom: 60px;
    background-color: inherit;
    box-shadow: 0px -4px 24px var(--section-shadow);
    background-image: url("/src/images/sections/footermobile(1x)_320.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: 
                url("/src/images/sections/footermobile(2x)_640.jpg")
    }

    @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image:
                url("/src/images/sections/footermobile(3x)_960.jpg")
    }

    @media screen and (min-width: 768px) {
        background-image: url("/src/images/sections/footertablet(1x)_785.jpg");       
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
        (min-width: 768px) and (min-resolution: 192dpi),
        (min-width: 768px) and (min-resolution: 2dppx) {
            background-image:
                url("/src/images/sections/footertablet(2x)_1570.jpg");
            background-size: cover;
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
        (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3),
        (min-width: 768px) and (min-resolution: 288dpi),
        (min-width: 768px) and (min-resolution: 3dppx) {
            background-image:
                url("/src/images/sections/footertablet(3x)_2355.jpg");
            background-size: cover;
    }   

    @media screen and (min-width: 1280px) {
        background-image: url("/src/images/sections/footerdesktop(1x)_1211.jpg");

        background-size: auto;
        background-position-x: center;
        background-position-y: bottom;
    }

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
        (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
        (min-width: 1280px) and (min-resolution: 192dpi),
        (min-width: 1280px) and (min-resolution: 2dppx) {
            background-image:
                url("/src/images/sections/footerdesktop(2x)_2422.jpg");
            background-size: 1211px 266px;
    }

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3),
        (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3),
        (min-width: 1280px) and (min-resolution: 288dpi),
        (min-width: 1280px) and (min-resolution: 3dppx) {
            background-image:
                url("/src/images/sections/footerdesktop(3x)_3633.jpg");
            background-size: 1211px 266px;
    }
}

.footer-content {
    margin-bottom: 60px;
}

.footer-content__thumb {
    display: flex;
    margin-bottom: 40px;
}

.footer__navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;    
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;    
}

.footer__item {
    display: inline-block;
}

.footer__link {
    @include transition-animation(all);
    
    &:focus,
    &:hover {
        color: var(--hover-text-color);
        text-shadow:
            1px 0 2px var(--focus-color),
            -1px 0 2px var(--focus-color),
            1px 1px 2px var(--focus-color),
            -1px -1px 2px var(--focus-color);
    }
}

.footer-newslatter__title {
    margin-bottom: 12px;
    font-weight: var(--unit-fw);
    line-height: var(--main-lh);
}

.footer-form {
    margin-bottom: 20px;
}

.footer-form-input {
    @media screen and (min-width: 768px) {
        width: 279px;
        margin-bottom: 0;
    }
}

.footer-form-button {
    background-color: var(--content-color);
    border: 1px solid var(--hover-color);
    margin-left: auto;

    @media screen and (min-width: 768px) {
        margin-left: 14px;
    }

    &:hover,
    &:focus, 
    &:active {
        background-color: var(--input-color);
    }
}

.footer__policy,
.footer-information__copyright {
    max-width: 280px;
    font-size: var(--information-fs);
    line-height: var(--information-lh);
}

.footer__policy_link,
.footer-information__link {
    font-size: var(--information-fs);
    line-height: var(--information-lh);
    color: var(--hover-color);
    text-decoration: underline;
    @include transition-animation(all);

    &:focus,
    &:hover {
        color: var(--hover-text-color);
        text-shadow:
            1px 0 2px var(--focus-color),
            -1px 0 2px var(--focus-color),
            1px 1px 2px var(--focus-color),
            -1px -1px 2px var(--focus-color);
    }
}

.footer-information__list{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
}

.footer-information__copyright {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .footer {        
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-content {
        margin-bottom: 100px;
    }

    .footer__navigation {
        margin-left: 114px;
        margin-right: 0;
    }

    .footer__list {
        flex-direction: row;
        gap: 28px;
        align-items: center;
    }

    .footer-form {
        display: flex;
        margin-bottom: 12px;
    }

    .footer__policy,
    .footer-information__copyright {
        font-size: var(--modal-label-fs);
        line-height: var(--modal-label-lh);
    }

    .footer-information {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-information__list {
        margin-bottom: 0;
        gap: 20px;
    }
    
    .footer-information__copyright {
        margin-left: 0;
        margin-right: 0;
    }

    .footer__policy_link,
    .footer-information__link {
        font-size: var(--modal-label-fs);
        line-height: var(--modal-label-lh);
    }
}

@media screen and (min-width: 1280px) {
    .footer-content {
        display: flex;
        margin-bottom: 80px;
    }

    .footer__navigation {
        margin-left: 145px;
        margin-top: 18px;
    }

    .footer__list {
        align-items: flex-start;
    }

    .footer-newslatter {
        margin-left: auto;
    }

    .footer-content__thumb {
        margin-bottom: 0;
    }
}